{% extends 'base.html' %}
{% block title %}Iniciar Sesión - Actols CRM{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Actols CRM</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
